In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier

In [2]:
dataset = pd.read_csv("train.csv")

In [3]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
dataset = dataset.drop(columns = "Cabin",axis = 1)

In [6]:
dataset =  dataset.drop(columns = "Name",axis = 1)

In [7]:
dataset.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S

In [8]:
# dataset["Age"].fillna(dataset["Age"].mean(),inplace = True)

In [9]:
# dataset.isnull().sum()

In [10]:
# dataset["Embarked"].mode()

In [11]:
# dataset["Embarked"].mode()[0]

In [12]:
#replcing the missing values with mode value
# dataset["Embarked"].fillna(dataset["Embarked"].mode()[0],inplace = True)

In [13]:
# dataset.isnull().sum()

In [14]:
# sns.set()

In [15]:
# dataset["Survived"].value_counts()

In [16]:
# sns.countplot("Survived",data = dataset)

# Encodeint the categorical data

In [17]:
dataset["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [18]:
dataset["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
#converting the categoraical column

In [20]:
le = LabelEncoder()
dataset["Sex"] = le.fit_transform(dataset["Sex"])

In [21]:
le = LabelEncoder()
dataset["Embarked"] = le.fit_transform(dataset["Embarked"])

In [22]:
dataset.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,1,22.0,1,0,A/5 21171,7.2500,2
1,2,1,1,0,38.0,1,0,PC 17599,71.2833,0
2,3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,2
3,4,1,1,0,35.0,1,0,113803,53.1000,2
4,5,0,3,1,35.0,0,0,373450,8.0500,2

In [23]:
dataset = dataset.drop(columns = "Ticket",axis = 1)

In [24]:
# # dataset["Age"] = dataset["Age"].astype(np.float32)
# dataset["Age"] = pd.to_numeric(dataset["Age"])

In [25]:
x = dataset.drop(columns = ["PassengerId","Survived"],axis = 1)

In [26]:
x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [27]:
dataset.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [28]:
y = dataset.drop(columns = ["Parch","PassengerId","Pclass","Sex","Age","SibSp","Fare","Embarked"], axis = 1)

In [29]:
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=11)

In [31]:
x_train.isnull().sum()

Pclass        0
Sex           0
Age         116
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [32]:
trf1 = ColumnTransformer([
    ("imputer_age",SimpleImputer(),[2]),
    ("imputer_Embarked ",SimpleImputer(strategy = 'most_frequent'),[6])
])

In [33]:
# trf2 = ColumnTransformer([
#     ("OneHotEncoder_for_Sex_Embarked",LabelEncoder(),[1,6])
# ],remainder = "passthrough")

In [34]:
trf3 = ColumnTransformer([
    ("scale",MinMaxScaler(),slice(0,10))
],remainder = "passthrough")

In [35]:
# trf4 = SelectKBest(score_func=chi2,k=8)

In [36]:
trf5 = DecisionTreeClassifier()

In [37]:
trf6 = LogisticRegression()

In [38]:
trf7 = RandomForestClassifier()

In [39]:
pipe = make_pipeline(trf1,trf3,trf5)

In [40]:
pipe

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(transformers=[('imputer_age',
                                                  SimpleImputer(), [2]),
                                                 ('imputer_Embarked ',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('columntransformer-2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [41]:
pipe.fit(x_train,y_train)

C:\Users\niles\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\impute\_base.py:54: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(transformers=[('imputer_age',
                                                  SimpleImputer(), [2]),
                                                 ('imputer_Embarked ',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('columntransformer-2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [42]:
y_pred = pipe.predict(x_train)

In [43]:
accuracy_score(y_train,y_pred)*100

74.15730337078652